language: node_js
sudo: required
node_js:
- '10'
install:
- npm ci
jobs:
  include:
  - stage: Deploy
    script: echo "doing insights stuff"
  - stage: Prepare standalone release
    script: npm run build-standalone && tar -czvf ui-release.tar.gz dist/ && ls
    skip_cleanup: true

env:
  global:
  - REPO="git@github.com:RedHatInsights/ansible-hub-ui-build.git"
  - REPO_DIR="ansible-hub-ui-build"
  - BRANCH=${TRAVIS_PULL_REQUEST_BRANCH:-$TRAVIS_BRANCH}
  - NODE_OPTIONS="--max-old-space-size=4096 --max_old_space_size=4096"
deploy:
  provider: releases
  api_key:
    secure: J+2wblkei6yJGk8tTJKtKLwLMYi6EkYfxfHxALt5LCpCHu4gtMI1bZPHj5nxCtHeJj6pKjii4tT2PCS7+l0y/ZSCCw4Yz9dv/TLoEAiL+GSX9kTqgSRX3SR2kFkavXdGzbJg4ANlQL4L2RoxMa0LNNB0G1S+Ia9Fy61lkZP5IXIFDlhE3/We+/lN9hBGbPaMfFORYcxt90YfXd7Yrbf/wV6/JnypuUOS9TsFwPERkO0Ks2kpDP1rtNss6vTyqSWIvDHHhlrtEmrvQmkREUwVhj7vX917DH3iQpuW0PYJ0frNH9XYPF4EYmFm+LzAxFdQxVXxqrc24RVtZCOu/XaNfCCQrUug9Q3U88vhE3WnCTYPB6a2UEFZ0OiIZM61wG1InuJJTTQhJqrQv5hKUCYW8DoE/+PtQ6/M7jlvsxNUY6sbVrvjSAk7N3bWuAGztDwdc+vZf5UfWpIShAgJ/c6VVdP5PQG+14GcrTo5iGKJMdBRx9VPAOuT1NdY+nJy+luzqTAzGJbLA9V2hiOiZ/HO5yHcSCx0edGY6fth/yIszwKv897avTnJCC0GL6pI+ArVk+LO1dDjYJZC4+KI49iPoYevweo0jbCnA3SzzVD/JWTqKjxhat9nrD23ieFRJKLUKJzTBCTpwrdnxZGJ6jn27lRJZcLL0jZxWAzSmwYcC6I=
  file: ui-release.tar.gz
  on:
    repo: ansible/ansible-hub-ui
    branch: feature/standalone-releases
